.toggle {
  position: absolute;
  top: 61px;
  z-index: 100;
  width: 100%;
}

.toggle-top {
  display: flex;
  height: 40px;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
}
.toggle-top li {
  margin-right: 10px;
  font-weight: 400;
  opacity: 0.65;
  cursor: pointer;
}
.panel-heading span {
  display: block;
  background-color: #fff;
}
.panel-heading span::after {
  content: "";
  display: block;
  width: 100%;
  height: 0px;
  border: 1px solid black;
  opacity: 0.1;
}
.toggle-top li::after {
  display: inline-block;
  content: "";
  width: 1.5px;
  height: 8px;
  background-color: black;
  margin-left: 10px;
  opacity: 0.3;
}
.toggle-top li:last-child::after {
  display: none;
}
.multi-accordion summary {
  height: 50px;
  line-height: 50px;
  background-color: #244966;
  color: white;
  font-size: 18px;
  width: 100%;
  cursor: pointer;
  padding: 0 20px;
  border-bottom: 1px solid rgba(248, 248, 248, 0.3);
}

summary::marker {
  display: none;
  content: "";
}

.panel .panel-heading li {
  height: 50px;
  width: 100%;
  background-color: #fff;
  z-index: 300;
  color: black;
  font-weight: 400;
  display: none;
}
.panel .panel-heading.active li {
  height: 50px;
  width: 100%;
  background-color: #fff;
  z-index: 300;
  color: black;
  font-weight: 400;
  display: block;
}
.panel .panel-heading li a {
  opacity: 0.65;
}
.panel .panel-heading li::after {
  content: "";
  display: block;
  width: 100%;
  height: 0px;
  border: 1px solid black;
  opacity: 0.1;
}
.multi-accordion ul {
  line-height: 50px;
  text-indent: 50px;
  font-weight: bold;
  cursor: pointer;
}
/* .panel ul::after {
  content: "";
  display: block;
  width: 100%;
  height: 0px;
  border: 1px solid black;
  opacity: 0.1;
} */

/* .multi-accordion li {
  display: none;
} */
